extends layout

block content
  aside.sidebar
    section.logo
      img(src="/img/logo.png",style="height: 128px;width: 128px")

    ul.nav.clearfix
      li: a(href="http://www.materialscss.com/") 误差序列
      li.sidebar-collapsible
        ul.collapsible.collapsible-accordion
          li: a(class="collapsible-header  waves-effect waves-teal") 非线性方程
            .collapsible-body
              ul
                li: a(href="http://www.materialscss.com/color") 不动点迭代
                li: a(href="http://www.materialscss.com/grid") 牛顿-拉夫森法
                li: a(href="http://www.materialscss.com/helpers") 割线法
          li:a(class="collapsible-header waves-effect waves-teal") 线性方程
            .collapsible-body
              ul
                li: a(href="http://www.materialscss.com/badges") 矩阵变换
                li: a(href="http://www.materialscss.com/buttons") 高斯消元法
                li: a(href="http://www.materialscss.com/cards") 雅可比迭代
                li: a(href="http://www.materialscss.com/collections") 高斯-赛德尔迭代

  main
    div#index-banner.index-banner.section.no-pad-bot.primary-bg
      div.container
